html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-content {
  margin-left: 200px;
  width: calc(100% - 200px);
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom right, black, black, grey);
}

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer-section {
  height: 40px;
  display: flex;
  align-items: center;
}
